# systemd service file (process manager)
# systemctl enable noderef
# systemctl start noderef

#### restart and stop

# systemctl restart noderef
# systemctl stop noderef

[Unit]
Description=Your app
After=network.target

[Service]
ExecStart=/usr/local/bin/node /var/www/noderef/app.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-sample
User=nobody
Group=nobody
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
